
/* .cover_page {
    height: 80vh;
    position: relative;
    background: url('../image/coverpage.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;

  }
  .right_cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 30vw;
    
  } */
